.downloadAs a {
    margin-left: 20px;
    color: var(--colors-grey700);
    font-size: 12px;
    text-decoration: none;
}

.downloadAs a:hover, .downloadAs a:focus {
    color: var(--colors-grey900);
    text-decoration: underline;
}
