.validationTable td:nth-child(1), table td:nth-child(2) {
    width: 17%;
}

.validationTable th:nth-child(1), table th:nth-child(2) {
    width: 17%;
}

.validationTable td:nth-child(4) {
    width: 25%;
}

.validationTable th:nth-child(4) {
    width: 25%;
}
