.card {
    padding: var(--spacers-dp16);
}

.mainButton {
    min-width: 100px;
    margin-top: 36px;
    /* align with grid padding */
    margin-left: 0.5em;
}

.appTable th {
    color: #757575 !important;
    border-bottom: 2px solid #e0e0e0 !important;
    font-size: 16px !important;
    height: 48px !important;
}

.appTable tr {
    color: black !important;
    border-bottom: 1px solid #e0e0e0 !important;
}

.appTable tr td {
    font-size: 14px !important;
}

.numericalRow {
    text-align: right !important;
    overflow: visible !important;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageHeader {
    display: flex;
    align-items: center;
    margin-top: var(--spacers-dp12);
    margin-bottom: var(--spacers-dp12);
}

.pageHeader h1 {
    margin: 0;
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
    margin-bottom: 24px;
}

.cardFooter {
    display: flex;
    align-items: center;
    margin-top: 48px;
}

.spaceBetween {
    justify-content: space-between;
}

.end {
    justify-content: flex-end;
}

.formLabel {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: var(--colors-grey600);
}

.checkboxWrapper {
    width: 24px !important;
    height: 24px !important;
}

.checkboxWrapper > div > div > div {
    margin: 0px !important;
}

.datepickers {
    margin-bottom: var(--spacers-dp12);
}
