.toggleBtn {
    margin-top: var(--spacers-dp12);
}

.optionalDatepickerContainer {
    display: flex;
    align-items: baseline;
}

.optionalDatepickerContainer button {
    margin-left: var(--spacers-dp8);
}
