.gridElement {
    padding: var(--spacers-dp24);
}

.gridTitleBar {
    position: relative;
    height: 42px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.gridTitleDescription {
    margin: 0;
    font-size: 18px;
    color: var(--colors-grey800);
}

.gridIcon {
    color: #757575 !important;
}

.gridDescription {
    font-size: 14px;
    text-align: left;
    color: #757575;
    margin-top: 42px;
    margin-bottom: 35px;
    display: block;
}

.gridActionText {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #2196f3;
}
