.link {
    display: block;
    height: 100%;
    text-decoration: none !important;
}

.gridElement {
    display: flex !important;
    flex-direction: column;
    padding: var(--spacers-dp24);
}

.gridElement > div {
    flex: 1;
}

.gridTitleBar {
    position: relative;
    height: 42px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.gridTitleDescription {
    margin: 0;
    font-size: 18px;
    color: var(--colors-grey800);
}

.gridIcon {
    color: #757575 !important;
}

.gridDescription {
    display: block;
    /* min-height: 70px; */
    margin: var(--spacers-dp12) 0;
    font-size: 14px;
    text-align: left;
    color: #757575;
}

.gridActionText {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: var(--colors-blue700);
}
